@CHARSET "UTF-8";

html,body {
	font: 14px "Microsoft Yahei", sans-serif;
	background-color: #eee;
	/*background-image: url("../image/body_bg.png");*/
	overflow-y: auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

input,textarea,img,select,button {
	border: 2px solid #ccc;
	font-size: 14px;
	font-family: "微软雅黑";
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.clear {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
	background: none;
	border: none;
	float: none;
	overflow: none;
}

#cover {
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	_height: expression(document.body.offsetHeight + 'px');
	float: none;
	display: none;
	background-color: #808080;
	position: absolute;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#load {
	padding: 0 20px;
	position: absolute;
	z-index: 1002;
	border: none;
	float: none;
	display: none;
}

#load img {
	width: 32px;
	height: 32px;
	border: none;
	margin: 3px 10px;
}

#load p {
	font-size: 12px;
	font-weight: bold;
}

/* LOGIN */
#login-box {
	width: 600px;
	margin: 0 auto;
}

#login-box-holder {
	width: 600px;
	margin-top: 30%;
}

#navi {
	width: 583px;
	height: 38px;
	line-height: 38px;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	padding-left: 15px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	background: #f3f3f3;
}

.form-holder {
	width: 598px;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	background: #fff;
	padding-top: 20px;
}

#tip {
	padding: 0 10px;
	margin: 0 20px;
	width: 534px;
	height: 30px;
	line-height: 30px;
	border: 2px solid #e60000;
	color: #e60000;
	display: none;
}

.form-holder-foot {
	width: 100%;
}

.form-holder-foot a {
	width: 590px;
	display: block;
	padding: 2px 0;
	margin: 4px;
	color: #000;
	background: #f3f3f3;
}

.form-holder-foot a:hover {
	color: #f3f3f3;
	background: #1abc9c;
}

#btn-sub {
	letter-spacing: 40px;
}

/* HOME */
#header {
	width: 100%;
	height: 65px;
	overflow: hidden;
}

#header {
	height: 44px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background: #34495E;
	background: -moz-linear-gradient(top, #34495E 0%, #2C3E50 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34495E), color-stop(100%, #2C3E50) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34495E', endColorstr='#2C3E50', GradientType=0 );
}

#header-inner {
	float: right;
	width: 800px;
	height: 44px;
	display: none;
}

ul.nav {
	height: 44px;
}

#nav li.top-nav {
	float: left;
	height: 44px;
}

#nav a.top-menu {
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 70px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	padding: 14px 25px;
	text-shadow: 0px 1px 1px #555;
}

#nav a.top-menu.active {
	color: #E0FFFF;
	background: #2C3E50;
}

div.megamenu {
	top: -9999px;
	border: 1px solid #dcdcdc;
	border-top: 2px solid #3a98b0;
	position: absolute;
	z-index: 1000;
	background: #fff;
	padding: 10px 20px 15px 10px;
}

h4.menu-heading {
	font-weight: bold;
	font-size: 14px;
}

div.nav-child {
	float: left;
	margin: 10px 20px 0 10px;
}

ul.nav-list {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdcdc;
}

ul.nav-list.last {
	border-bottom: 0;
}

ul.nav-list a {
	color: #808080;
}

ul.nav-list a:hover {
	color: #FF7F00;
}

#panel {
	width: 320px;
	height: 44px;
	padding: 0 20px;
	color: #eee;
	font-size: 12px;
}

#user {
	height: 40px;
	margin: 2px;
}

#user div {
	height: 14px;
	line-height: 14px;
	padding: 3px 0;
}

#logout {
	color: #e60000;
	text-decoration: underline;
}

#menu-navi {
	height: 30px;
	line-height: 30px;
	margin: 0 0 20px 0;
	border-bottom: 5px solid #808080;
}

#navi-title {
	padding-left: 15px;
	font-weight: bold;
}

.frame_class {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#mainFrameContainer {
	position: absolute;
	top: 110px;
	left: 15px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 4;
}

#mainFrame {
	position: absolute;
	_position: relative;
	width: 100%;
	_width: expression(document.body.offsetWidth - 15 + 'px');
	height: 100%;
	*height: expression(document.body.offsetHeight - 110 + 'px');
	z-index: 5;
}