@CHARSET "UTF-8";

html,body {
	font: 14px "Microsoft Yahei", sans-serif;
	background-color: #eee;
	background-image: url("../image/body_bg.png");
	overflow: auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

input,textarea,img,select,button {
	border: 2px solid #ccc;
	font-size: 14px;
	font-family: "微软雅黑";
}

input:focus,textarea:focus,img:focus,select:focus {
	border-color: #1abc9c;
}

.clear {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
	background: none;
	border: none;
	float: none;
	overflow: none;
}

#cover {
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	_height: expression(document.body.offsetHeight + 'px');
	float: none;
	display: none;
	background-color: #000;
	position: absolute;
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#load {
	position: absolute;
	z-index: 1002;
	border: none;
	float: none;
	display: none;
}

ul {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
#header {
	height: 44px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
#header-inner {
	height: 44px;
	background: #105494;
}
ul.nav {
	height: 44px;
}
#nav li.top-nav {
	float: left;
	height: 44px;
}
#nav a.top-menu {
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	width: 70px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	padding: 14px 25px;
}
#nav a.top-menu.active {
	background: #06407d;
}
div.megamenu {
	top: -9999px;
	border: 1px solid #dcdcdc;
	border-top: 2px solid #3a98b0;
	position: absolute;
	z-index: 1000;
	background: #fff;
	padding: 10px 20px 15px 10px;
}
h4.menu-heading {
	font-weight: bold;
	font-size: 14px;
}
div.nav-child {
	float: left;
	margin: 10px 20px 0 10px;
}
ul.nav-list {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdcdc;
}
ul.nav-list.last {
	border-bottom: 0;
}
ul.nav-list a {
	color: #808080;
}
ul.nav-list a:hover {
	color: #FF7F00;
}
#main {
	position: absolute;
	top: 115px;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	overflow: hidden;
	_height: expression(document.body.offsetHeight - 115 + 'px');
}
#mainFrame {
	width: 100%;
	padding: 1%;
	height: 100%;
	overflow: scroll;
	_height: expression(document.body.offsetHeight - 115 + 'px');
}