@CHARSET "UTF-8";

body,div,dl,dd,form,input,textarea {
	margin: 0;
	padding: 0;
}

body {
	font: normal 14px "微软雅黑";
	background-color: #eee;
	background-image: url("../image/body_bg.png");
}

.clear {
	height: 1px;
	clear: both;
	float: none;
}

#top {
	width: 100%;
	margin-bottom: 20px;
}

#panel {
	height: 55px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	background: #3b75b4;
	background: -moz-linear-gradient(top, #064884 0%, #064884 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #064884), color-stop(100%, #3b75b4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#064884', endColorstr='#3b75b4', GradientType=0);
	border: 1px solid #064884;
}

#menu {
	height: 60px;
	background-color: #dcdcdc;
}

#menu dl dd {
	float: left;
}

#menu dl .last {
	border-right: none;
}

#menu #main {
	height: 36px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background: #7d8f33;
	text-shadow: 1px 1px 0px #000;
	background: -moz-linear-gradient(top, #93aa4c 0%, #7d8f33 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #93aa4c), color-stop(100%, #7d8f33));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93aa4c', endColorstr='#7d8f33', GradientType=0);
}

#menu #main dd {
	height: 36px;
	padding: 0 30px;
	line-height: 36px;
	cursor: pointer;
}

#menu #main dd:HOVER {
	
}

#menu #main dd.active {
	
}

#menu #second {
	height: 30px;
	color: #555;
	font-weight: bold;
	background: #ddd;
	text-shadow: 1px 1px 0px #000;
	background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
}

#menu #second dd {
	height: 24px;
	margin: 3px 0;
	padding: 0 30px;
	line-height: 24px;
	cursor: pointer;
}

#menu #second dd:HOVER {
	
}

/* FASTNAVI */
#fastnavi {
	width: 100%;
	position: absolute;
}

#fastnavi #title {
	width: 100%;
	height: 35px;
}

#fastnavi #title_in {
	border: 1px solid #ccc;
	font-weight: bold;
	cursor: pointer;
	float: right;
	color: #555;
	text-shadow: 1px 1px 0px #000;
	background: #ddd;
	background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#fastnavi #title_in:HOVER {
	color: #000;
	background: #eee;
	background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee', GradientType=0);
}

#fastnavi #naviButton {
	height: 17px;
	line-height: 17px;
	margin: 7px 10px;
	padding: 0 15px;
	border-left: 5px solid blue;
}

#fastnavi #navi {
	width: 111px;
	display: none;
	border: 1px solid #dcdcdc;
	border-top: none;
	background-color: #fff;
	float: right;
}

/* CONTENT COMM */
#content {
	width: 80%;
	margin: 0 auto;
}

#content .text_10 {
	width: 10px;
}

#content .text_15 {
	width: 15px;
}

#content .text_20 {
	width: 20px;
}

#content .text_30 {
	width: 30px;
}

#content .text_40 {
	width: 40px;
}

#content .text_50 {
	width: 50px;
}

#content .text_60 {
	width: 60px;
}

#content .text_70 {
	width: 70px;
}

#content .text_80 {
	width: 80px;
}

#content .text_90 {
	width: 90px;
}

#content .text_100 {
	width: 100px;
}

#content .text_120 {
	width: 120px;
}

#content .text_150 {
	width: 150px;
}

#content .text_200 {
	width: 200px;
}

#content .text_5p {
	width: 5%;
	max-width: 60px;
	min-width: 40px;
}

#content .text_10p {
	width: 10%;
	max-width: 120px;
	min-width: 80px;
}

#content .text_15p {
	width: 15%;
	max-width: 180px;
	min-width: 120px;
}

#content .text_20p {
	width: 20%;
	max-width: 240px;
	min-width: 160px;
}

#content .text_25p {
	width: 25%;
	max-width: 300px;
	min-width: 200px;
}

#content .text_30p {
	width: 30%;
	max-width: 360px;
	min-width: 240px;
}

#content .text_35p {
	width: 35%;
	max-width: 420px;
	min-width: 280px;
}

#content .text_55p {
	width: 55%;
	max-width: 660px;
	min-width: 440px;
}

/* CONTENT TABLE */
#content .table {
	width: 100%;
}

#content .table .head {
	width: 100%;
	color: #eee;
	font-weight: bold;
	border: 1px solid #09365f;
	text-shadow: 1px 1px 0px #000;
	background: #064884;
	background: -moz-linear-gradient(top, #3b75b4 0%, #064884 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b75b4), color-stop(100%, #064884));
	filter: progid:    DXImageTransform.Microsoft.gradient(startColorstr=    '#3b75b4', endColorstr=    '#064884', GradientType=    0);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#content .table .head .title {
	height: 30px;
}

#content .table .head .title_name {
	height: 16px;
	padding: 0 10px;
	margin: 7px 10px;
	line-height: 16px;
	border-left: 5px solid blue;
	float: left;
}

#content .table .head .source_head {
	height: 28px;
	line-height: 28px;
}

#content .table .source_head dl dd {
	float: left;
	text-align: center;
}

#content .table .source {
	width: 100%;
	border: 1px solid #dcdcdc;
}

#content .table .source dl {
	border-bottom: 1px solid #dcdcdc;
}

#content .table .source .odd {
	background-color: #f3f3f3;
}

#content .table .source dl dd {
	float: left;
	text-align: center;
}

#content .table .source dl dd .last {
	border-right: none;
}

#content .table .source .source_line {
	height: 26px;
	line-height: 26px;
}

#content .table .source .source_line:HOVER {
	background-color: #fff;
}

#content .table .source .source_line input {
	height: 14px;
	margin: 6px 0;
}

#content .form {
	width: 50%;
	margin: 0 auto;
}

#content .table .form_source {
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#content .table .form_source dl {
	float: left;
	margin: 3px 0;
}

#content .table .form_source dd {
	margin: 3px 0;
}

#content .table .form_source input,textarea,img {
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#content .table .form_source .source_name {
	width: 30%;
	text-align: center;
}

#content .table .form_source .source_name dd {
	height: 22px;
	line-height: 22px;
}

#content .table .form_source .source_name .high {
	height: 77px;
	line-height: 77px;
}

#content .table .form_source .source_name .img_120 {
	height: 120px;
	line-height: 120px;
}

#content .table .form_source .source_value {
	width: 70%;
	text-align: left;
}

#content .table .form_source .source_value input {
	height: 20px;
	padding: 0 5px;
}

#content .table .form_source .source_value textarea {
	height: 75px;
	padding: 0 5px;
}

#content .table .form_source .source_value .img_150 {
	height: 150px;
}

#content .table .foot {
	height: 30px;
	width: 100%;
	color: #555;
	border: 1px solid #dcdcdc;
	background: #eee;
	text-shadow: 1px 1px 0px #000;
	background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee', GradientType=0);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}