@CHARSET "UTF-8";

/* COMM */
.text_10 {
	width: 10px;
}

.text_15 {
	width: 15px;
}

.text_20 {
	width: 20px;
}

.text_30 {
	width: 30px;
}

.text_40 {
	width: 40px;
}

.text_50 {
	width: 50px;
}

.text_60 {
	width: 60px;
}

.text_70 {
	width: 70px;
}

.text_80 {
	width: 80px;
}

.text_90 {
	width: 90px;
}

.text_100 {
	width: 100px;
}

.text_120 {
	width: 120px;
}

.text_150 {
	width: 150px;
}

.text_200 {
	width: 200px;
}

.text_300 {
	width: 300px;
}

.text_400 {
	width: 400px;
}

.text_500 {
	width: 500px;
}

.text_5p {
	width: 5%;
	max-width: 60px;
	min-width: 40px;
}

.text_10p {
	width: 10%;
	max-width: 120px;
	min-width: 80px;
}

.text_15p {
	width: 15%;
	max-width: 180px;
	min-width: 120px;
}

.text_20p {
	width: 20%;
	max-width: 240px;
	min-width: 160px;
}

.text_25p {
	width: 25%;
	max-width: 300px;
	min-width: 200px;
}

.text_30p {
	width: 30%;
	max-width: 360px;
	min-width: 240px;
}

.text_35p {
	width: 35%;
	max-width: 420px;
	min-width: 280px;
}

.text_45p {
	width: 45%;
	max-width: 480px;
	min-width: 320px;
}

.text_50p {
	width: 50%;
	max-width: 540px;
	min-width: 360px;
}

.text_55p {
	width: 55%;
	max-width: 560px;
	min-width: 400px;
}

/* UI */
.ui-table {
	width: 100%;
}

.ui-form{
	width: 700px;
	margin: 0 auto;
}

.ui-head {
	color: #eee;
	text-shadow: 0px 1px 1px #000;
	border: 1px solid #2980B9;
	background: #2980B9;
	background: -moz-linear-gradient(top, #3498DB 0%, #2980B9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498DB), color-stop(100%, #2980B9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b75b4', endColorstr='#2980B9', GradientType=0);
}

.ui-head .ui-title, .ui-operation {
	height: 30px;
}

.ui-head .ui-title-name {
	height: 16px;
	padding: 0 10px;
	margin: 7px 10px;
	line-height: 16px;
	font-weight: bold;
	border-left: 5px solid #2C3E50;
	float: left;
}

.ui-operation,.ui-operation div {
	float: right;
}

.ui-btn {
	width: 50px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	margin: 3px 5px;
	text-align: center;
	cursor: pointer;
}

.ui-operation .btn-add:hover,.ui-operation .btn-sub:hover {
	color: #27AE60;
}

.ui-operation .btn-edit:hover {
	color: #E67E22;
}

.ui-operation .btn-delete:hover {
	color: #E74C3C;
}

.ui-operation .btn-close:hover {
	color: #E74C3C;
}

.table-source-head {
	height: 28px;
	line-height: 28px;
}

.table-source-head dl dd {
	float: left;
	text-align: center;
}

.table-source {
	width: 100%;
}

.table-source .odd {
	background-color: #f3f3f3;
}

.table-source dl dd {
	float: left;
	text-align: center;
}

.table-source-line {
	height: 30px;
	line-height: 30px;
	border: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	min-width: 810px;
	cursor: pointer;
}

.table-source-line:HOVER {
	background-color: #fff;
}

.table-source-line dd {
	height: 30px;
	line-height: 30px;
	text-shadow: 0px 1px 1px #555;
}

.table-source-line dd .checkbox {
	display: block;
	height: 20px;
	width: 20px;
	margin: 5px auto;
	background: url("../../image/checkbox.png") -90px 0px no-repeat;
}

.table-source-line dd .checked {
	background: url("../../image/checkbox.png") -60px -30px no-repeat;
}

.form-source {
	background-color: #fff;
}

.form-source dl {
	float: left;
	margin: 5px 0;
}

.form-source dl dd {
	margin: 5px 0;
}

.form-source .error {
	border-color: #E74C3C;
}

.form-source .form-source-name {
	width: 120px;
	text-align: center;
}

.form-source .form-source-name dd {
	height: 34px;
	line-height: 34px;
}

.form-source .form-source-name .high {
	height: 89px;
	line-height: 89px;
}

.form-source .form-source-name .img_150 {
	height: 150px;
	line-height: 150px;
}

.form-source .form-source-value {
	width: 70%;
	text-align: left;
}

.form-source .form-source-value input {
	height: 20px;
	line-height: 20px;
	padding: 5px;
}

.form-source .form-source-value textarea {
	height: 75px;
	padding: 5px;
	overflow-y: auto;
}

.form-source .form-source-value select {
	height: 34px;
	line-height: 34px;
	margin-right: 2px;
	padding: 5px;
}

.form-source .form-source-value .img_150 {
	height: 150px;
}

.form-source .form-source-value dd {
	width: 100%;
}

.form-source .form-source-value dd input.done {
	background: url("../../image/done.png") 99% 5px no-repeat;
}

.form-source .form-source-value dd textarea.done {
	background: url("../../image/done.png") 99% 35px no-repeat;
}

.form-source .form-source-value dd img.done {
	background: url("../../image/done.png") 50% 65px no-repeat;
}

.ui-foot {
	height: 30px;
	color: #555;
	border: 1px solid #dcdcdc;
	background: #eee;
	text-shadow: 0px 1px 1px #808080;
	background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee', GradientType=0);
}

.ui-foot .btn,.ui-operation .page {
	height: 30px;
	line-height: 30px;
}

.ui-operation .page{
	margin-right: 10px;
}

.ui-operation .page dd:hover {
	color: #3498DB;
}

.ui-operation .page dd.active {
	cursor: text;
	background: #555;
	color: #fff;
}

.ui-operation .page dd.page_num {
	cursor: text;
	color: #555;
}

.ui-operation .page dd.record_count {
	cursor: text;
	color: #555;
}

.ui-foot .btn div{
	width: 50px;
	height: 24px;
	line-height: 24px;
	margin: 3px 5px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.ui-foot .btn,.ui-foot .btn div,.ui-operation .page,.ui-operation .page dd {
	float: left;
}

.ui-operation .page dd {
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
	cursor: pointer;
}

.ui-foot .btn .btn-check-all:hover,.ui-foot .btn .btn-check-invert:hover {
	color: #16A085;
}

.dialog {
	display: none;
	z-index: 1002;
	position: fixed;
}