@CHARSET "UTF-8";

.table .text_10 {
	width: 10px;
}

.table .text_15 {
	width: 15px;
}

.table .text_20 {
	width: 20px;
}

.table .text_30 {
	width: 30px;
}

.table .text_40 {
	width: 40px;
}

.table .text_50 {
	width: 50px;
}

.table .text_60 {
	width: 60px;
}

.table .text_70 {
	width: 70px;
}

.table .text_80 {
	width: 80px;
}

.table .text_90 {
	width: 90px;
}

.table .text_100 {
	width: 100px;
}

.table .text_120 {
	width: 120px;
}

.table .text_150 {
	width: 150px;
}

.table .text_200 {
	width: 200px;
}

.table .text_300 {
	width: 300px;
}

.table .text_400 {
	width: 400px;
}

.table .text_500 {
	width: 500px;
}

.table .text_5p {
	width: 5%;
	max-width: 60px;
	min-width: 40px;
}

.table .text_10p {
	width: 10%;
	max-width: 120px;
	min-width: 80px;
}

.table .text_15p {
	width: 15%;
	max-width: 180px;
	min-width: 120px;
}

.table .text_20p {
	width: 20%;
	max-width: 240px;
	min-width: 160px;
}

.table .text_25p {
	width: 25%;
	max-width: 300px;
	min-width: 200px;
}

.table .text_30p {
	width: 30%;
	max-width: 360px;
	min-width: 240px;
}

.table .text_35p {
	width: 35%;
	max-width: 420px;
	min-width: 280px;
}

.table .text_45p {
	width: 45%;
	max-width: 480px;
	min-width: 320px;
}

.table .text_50p {
	width: 50%;
	max-width: 540px;
	min-width: 360px;
}

.table .text_55p {
	width: 55%;
	max-width: 560px;
	min-width: 400px;
}

.table {
	width: 100%;
}

.form {
	width: 700px;
	margin: 0 auto;
}

.table .head {
	color: #eee;
	font-weight: bold;
	text-shadow: 0px 1px 1px #000;
	border: 1px solid #2980B9;
	background: #2980B9;
	background: -moz-linear-gradient(top, #3498DB 0%, #2980B9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498DB), color-stop(100%, #2980B9));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b75b4', endColorstr='#2980B9', GradientType=0);
}

.table .head .title,.operation {
	height: 30px;
}

.table .head .title_name {
	height: 16px;
	padding: 0 10px;
	margin: 7px 10px;
	line-height: 16px;
	border-left: 5px solid #2C3E50;
	float: left;
}

.table .head .operation,.operation div {
	float: right;
}

.table .head .operation div {
	width: 50px;
	height: 24px;
	line-height: 24px;
	margin: 3px 5px;
	text-align: center;
	cursor: pointer;
}

.table .head .operation .add:hover,.sub:hover {
	color: #27AE60;
}

.table .head .operation .edit:hover {
	color: #E67E22;
}

.table .head .operation .delete:hover {
	color: #E74C3C;
}

.table .head .operation .close {
	height: 16px;
	padding: 0 10px;
	margin: 7px 5px;
	line-height: 16px;
	border-left: 5px solid #95A5A6;
	color: #dcdcdc;
	cursor: pointer;
	float: right;
}

.table .head .operation .close:hover {
	color: #E74C3C;
}

.table .head .close {
	height: 16px;
	padding: 0 10px;
	margin: 7px 5px;
	line-height: 16px;
	border-left: 5px solid #95A5A6;
	color: #dcdcdc;
	cursor: pointer;
	float: right;
}

.table .head .close:hover {
	color: #E74C3C;
}

.table .head .source_head {
	height: 28px;
	line-height: 28px;
}

.table .source_head dl dd {
	float: left;
	text-align: center;
}

.table .source {
	width: 100%;
}

.table .source .odd {
	background-color: #f3f3f3;
}

.table .source dl dd {
	float: left;
	text-align: center;
}

.table .source .source_line {
	height: 30px;
	line-height: 30px;
	border: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	min-width: 810px;
	cursor: pointer;
}

.table .source .source_line:HOVER {
	background-color: #fff;
}

.table .source .source_line dd {
	height: 30px;
	line-height: 30px;
	text-shadow: 0px 1px 1px #555;
}

.table .source .source_line dd .checkbox {
	display: block;
	height: 20px;
	width: 20px;
	margin: 5px auto;
	background: url("../../image/checkbox.png") -90px 0px no-repeat;
}

.table .source .source_line dd .checked {
	background: url("../../image/checkbox.png") -60px -30px no-repeat;
}

.table .form_source {
	background-color: #fff;
}

.table .form_source dl {
	float: left;
	margin: 5px 0;
}

.table .form_source dl dd {
	margin: 5px 0;
}

.table .form_source input,textarea,img,select {
	border: 2px solid #ccc;
	font-size: 14px;
	font-family: "微软雅黑";
}

.table .form_source input:focus,textarea:focus,img:focus,select:focus {
	border-color: #1abc9c;
}

.table .form_source .error {
	border-color: #E74C3C;
}

.table .form_source .source_name {
	width: 120px;
	text-align: center;
}

.table .form_source .source_name dd {
	height: 34px;
	line-height: 34px;
}

.table .form_source .source_name .high {
	height: 89px;
	line-height: 89px;
}

.table .form_source .source_name .img_150 {
	height: 150px;
	line-height: 150px;
}

.table .form_source .source_value {
	width: 70%;
	text-align: left;
}

.table .form_source .source_value input {
	height: 20px;
	line-height: 20px;
	padding: 5px;
}

.table .form_source .source_value textarea {
	height: 75px;
	padding: 5px;
	overflow-y: auto;
}

.table .form_source .source_value select {
	height: 34px;
	line-height: 34px;
	margin-right: 2px;
	padding: 5px;
}

.table .form_source .source_value .img_150 {
	height: 150px;
}

.table .form_source .source_value dd {
	width: 100%;
}

.table .form_source .source_value dd input.done {
	background: url("../../image/done.png") 99% 5px no-repeat;
}

.table .form_source .source_value dd textarea.done {
	background: url("../../image/done.png") 99% 35px no-repeat;
}

.table .form_source .source_value dd img.done {
	background: url("../../image/done.png") 50% 65px no-repeat;
}

.table .foot {
	height: 30px;
	color: #555;
	border: 1px solid #dcdcdc;
	background: #eee;
	text-shadow: 0px 1px 1px #808080;
	background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee', GradientType=0);
}

.table .foot .btn,.operation,.operation .page {
	height: 30px;
	line-height: 30px;
}

.table .foot .operation .page{
	margin-right: 10px;
}

.table .foot .operation .page dd:hover {
	color: #3498DB;
}

.table .foot .operation .page dd.active {
	cursor: text;
	color: #2980B9;
}

.table .foot .operation .page dd.page_num {
	cursor: text;
	color: #555;
}

.table .foot .operation .page dd.record_count {
	cursor: text;
	color: #555;
}

.table .foot .btn div,.operation div {
	width: 50px;
	height: 24px;
	line-height: 24px;
	margin: 3px 5px;
	text-align: center;
	cursor: pointer;
}

.table .foot .btn,.btn div,.operation .page,.page dd {
	float: left;
}

.table .foot .operation .page dd {
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
	cursor: pointer;
}

.table .foot .operation,.operation div {
	float: right;
}

.table .foot .add:hover,.sub:hover {
	color: #27AE60;
}

.table .foot .edit:hover {
	color: #E67E22;
}

.table .foot .delete:hover {
	color: #E74C3C;
}

.table .foot .check_all:hover,.check_invert:hover {
	color: #16A085;
}

.dialog {
	display: none;
	z-index: 1001;
	position: fixed;
}