@CHARSET "UTF-8";

body {
	font: normal 14px "微软雅黑";
	background-color: #eee;
	background-image: url("../../image/body_bg.png");
}

.clear {
	height: 1px;
	clear: both;
	float: none;
}

#modal {
	z-index: 1000;
	width: 100%;
	display: none;
	height: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#top {
	width: 100%;
	margin-bottom: 20px;
}

#panel {
	height: 55px;
	color: #eee;
	text-shadow: 0px 1px 1px #555;
	background: #34495E;
	background: -moz-linear-gradient(top, #34495E 0%, #2C3E50 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34495E), color-stop(100%, #2C3E50));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34495E', endColorstr='#2C3E50', GradientType=0);
	border: 1px solid #34495E;
}

#panel #user {
	height: 45px;
	float: right;
	margin: 5px;
}

#menu {
	height: 60px;
	background-color: #dcdcdc;
}

#menu dl dd {
	float: left;
}

#menu dl .last {
	border-right: none;
}

#menu #main {
	height: 36px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background: #7d8f33;
	text-shadow: 0px 1px 1px #000;
	background: -moz-linear-gradient(top, #1ABC9C 0%, #16A085 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ABC9C), color-stop(100%, #16A085));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ABC9C', endColorstr='#16A085', GradientType=0);
}

#menu #main dd {
	height: 36px;
	padding: 0 30px;
	line-height: 36px;
	cursor: pointer;
}

#menu #main dd:HOVER {
	
}

#menu #main dd.active {
	
}

#menu #second {
	height: 30px;
	color: #000;
	font-weight: bold;
	background: #ddd;
	text-shadow: 0px 1px 1px #555;
	background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
}

#menu #second dd {
	height: 24px;
	margin: 3px 0;
	padding: 0 30px;
	line-height: 24px;
	cursor: pointer;
}

#menu #second dd:HOVER {
	
}

/* FASTNAVI */
#fastnavi {
	width: 100%;
	position: absolute;
}

#fastnavi #title {
	width: 100%;
	height: 35px;
}

#fastnavi #title_in {
	border: 1px solid #ccc;
	font-weight: bold;
	cursor: pointer;
	float: right;
	color: #555;
	text-shadow: 1px 1px 0px #000;
	background: #ddd;
	background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#fastnavi #title_in:HOVER {
	color: #000;
	background: #eee;
	background: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee', GradientType=0);
}

#fastnavi #naviButton {
	height: 17px;
	line-height: 17px;
	margin: 7px 10px;
	padding: 0 15px;
	border-left: 5px solid blue;
}

#fastnavi #navi {
	width: 111px;
	display: none;
	border: 1px solid #dcdcdc;
	border-top: none;
	background-color: #fff;
	float: right;
}

/* CONTENT COMM */
#content {
	width: 80%;
	margin: 0 auto;
}