@CHARSET "UTF-8";

html,body {
	font: 14px "Microsoft Yahei", sans-serif;
	background-color: #eee;
	background-image: url("../../image/body_bg.png");
	overflow: auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

input,textarea,img,select {
	border: 2px solid #ccc;
	font-size: 14px;
	font-family: "微软雅黑";
}

input:focus,textarea:focus,img:focus,select:focus {
	border-color: #1abc9c;
}

.clear {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
	background: none;
	border: none;
	float: none;
	overflow: none;
}

#cover {
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	float: none;
	display: none;
	background-color: #000;
	position: absolute;
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#load {
	position: absolute;
	z-index: 1002;
	border: none;
	float: none;
	display: none;
}

#head {
	width: 100%;
	height: 65px;
	overflow: hidden;
}

#panel {
	height: 63px;
	color: #eee;
	text-shadow: 0px 1px 1px #555;
	background: #34495E;
	background: -moz-linear-gradient(top, #34495E 0%, #2C3E50 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34495E), color-stop(100%, #2C3E50));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34495E', endColorstr='#2C3E50', GradientType=0);
	border: 1px solid #34495E;
}

#panel #user {
	height: 50px;
	float: right;
	margin: 5px;
}

#menu-navi {
	height: 30px;
	line-height: 30px;
	margin: 0 0 20px 182px;
	border-bottom: 5px solid #808080;
}

#navi-title {
	padding-left: 15px;
	font-weight: bold;
}

/* MENU */
#menu {
	width: 182px;
	background: #808080;
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	bottom: 0;
	border-left: 0 none;
	height: auto;
	_height: expression(document.body.offsetHeight -   66 +   'px');
}

#menuList {
	cursor: pointer;
	text-align: center;
}

#menu-head {
	height: 35px;
	background: #ddd;
	text-shadow: 0px 1px 1px #000;
	background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
}

#menuList .menu-title {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	background: url("../../image/menu-title-bg.gif") top left no-repeat;
}

#menuList .open {
	
}

#menuList .menu-item {
	display: none;
}

.menu-item span {
	display: block;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background: url("../../image/menu-item-bg.gif") top left no-repeat;
}

.menu-item span:hover {
	background: url("../../image/menu-item-hover-bg.gif") top left no-repeat;
}

.menu-item span.active {
	color: #2475b9;
}

.menu-item span.active:hover {
	color: #2475b9;
	cursor: text;
}

.top-line {
	display: none;
	height: 5px;
	background: url("../../image/menu-topline.gif") top left no-repeat
}

.frame_class {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#mainFrameContainer {
	position: absolute;
	top: 110px;
	left: 192px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 4;
}

#mainFrame {
	position: absolute;
	_position: relative;
	width: 100%;
	_width: expression(document.body.offsetWidth -   192 +   'px');
	height: 100%;
	*height: expression(document.body.offsetHeight -   110 +   'px');
	z-index: 5;
}

/* CONTENT COMM */
.holder .todo {
	width: 300px;
	float: left;
	margin: 0 20px;
	text-shadow: 0px 1px 1px #000;
}

.todo-head {
	height: 50px;
	background: #7d8f33;
	background: -moz-linear-gradient(top, #1ABC9C 0%, #16A085 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ABC9C), color-stop(100%, #16A085));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ABC9C', endColorstr='#16A085', GradientType=0);
}

.todo-head input {
	background: #1ABC9C;
	width: 220px;
	height: 26px;
	line-height: 26px;
	padding: 5px;
	margin: 5px;
}

.todo dl {
	width: 300px;
}

.todo dl .todo-done {
	color: #fff;
	width: 300px;
	height: 50px;
	line-height: 50px;
	background: #34495E;
	border-top: 2px solid #2C3E50;
}

.todo dl .todo-done div {
	float: left;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.todo dl .todo-done .todo-icon {
	width: 60px;
	background: url("../../image/todo-2x.png") 10px 5px no-repeat;
}

.todo dl .todo-done .todo-icon-active {
	background: url("../../image/done-2x.png") 10px 5px no-repeat;
}

.todo dl .todo-done .todo-content {
	width: 240px;
	font-size: 14px;
}

.todo dl .todo-done .todo-content div {
	width: 220px;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
}

.todo dl .todo-done .todo-content .todo-name {
	font-weight: bold;
}

.todo dl .todo-done .todo-content .todo-remark {
	font-size: 12px;
}

.holder .list {
	width: 300px;
	float: left;
	color: #fff;
	margin: 0 20px;
}

.holder .list .list-head {
	width: 300px;
	height: 40px;
	background: #1ABC9C;
}

.holder .list .list-head input {
	width: 250px;
	height: 24px;
	line-height: 24px;
	margin: 5px;
}

.holder .list dl {
	width: 300px;
}

.holder .list dl .list-item {
	width: 300px;
	height: 30px;
	line-height: 30px;
	background: #34495E;
	border-top: 2px solid #2C3E50;
	cursor: pointer;
}

.holder .list dl .list-item:hover {
	color: #1ABC9C;
	background: #2C3E50;
}

.holder .list dl .list-item div {
	float: left;
}

.holder .list dl .list-item .item-icon {
	width: 30px;
	height: 30px;
	background: url("../../image/icon-off.png") no-repeat;
}

.holder .list dl .list-item .item-icon-active {
	background: url("../../image/icon-on.png") no-repeat;
}

.holder .list dl .list-item .item-value {
	width: 200px;
	height: 30px;
	line-height: 30px;
	padding: 0 35px;
}